DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

POSTGRES_USER=scraper
POSTGRES_PASSWORD=scraper
POSTGRES_DB=scraper_db

BV_PASSKEY_DOUGLAS=your_passkey_here
BV_LOCALE_DOUGLAS=it_IT

SEPHORA_ENABLED=1

SCRAPE_DELAY_MIN=0.5
SCRAPE_DELAY_MAX=2.0
